@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    /* Solo Safari */
    .safari-fix-img {
      width: 100% !important;
      min-width: 0 !important;
      flex-shrink: 1 !important;
    }
  }
}
