<div class="p-6 w-full lg:gap-10 h-full lg:!flex justify-between bg-[rgba(50,110,118,.1)]">
    <!-- Info proyecto-->
    <div class="h-full flex flex-col">
        <!-- Información del proyecto -->
        <div id="info" class="flex-grow overflow-auto">
            <div class="h-[18rem] mb-10 lg:mb-0 lg:h-[24rem] sm:h-[11rem] overflow-clip">
                <!-- Titulo proyecto-->
                <p
                    class="text-[#132b2e] block antialiased tracking-normal font-sans text-3xl leading-snug text-blue-gray-900 mb-3 font-bold  leading-none lg:max-w-xl line-clamp-3 w-full overflow-hidden text-ellipsis ![display:-webkit-box] ![webkit-box-orient:vertical]">
                    {{this.languageService.getTranslation(proyectos[selected_project].ref_cadena_titulo)}}
                </p>

                <!-- Eventos en los que ha participado -->
                @if(proyectos[selected_project].participaciones){
                <div class="flex items-center w-full">
                    <h6
                        class="text-base font-extralight text-blue-gray-900 leading-6 line-clamp-2 overflow-hidden text-ellipsis ![display:-webkit-box] ![webkit-box-orient:vertical]">
                        {{this.languageService.getTranslation(proyectos[selected_project].participaciones[0].ref_cadena_resultado)}}
                        {{this.languageService.getTranslation(proyectos[selected_project].eventos[0].ref_cadena_titulo) || proyectos[selected_project].eventos[0].ref_cadena_titulo}}
                    </h6>
                </div>
                }@else {
                <div class="flex items-center w-full">
                    <h6
                        class="text-base font-extralight text-blue-gray-900 leading-6 line-clamp-2 overflow-hidden text-ellipsis ![display:-webkit-box] ![webkit-box-orient:vertical]">
                        {{this.languageService.getTranslation(proyectos[selected_project].ref_cadena_resumen)}}
                    </h6>
                </div>
                }
                <div class="mt-4">
                    <!-- Contenedor de imagen y texto en dos columnas alineadas a la izquierda -->
                    <div class="flex items-center gap-4">
                        <!-- Columna 1: Imagen -->
                        <img src="{{proyectos[selected_project].imagen_autor}}" alt=""
                            class="w-10 h-10 rounded-full object-cover cursor-pointer mr-2">

                        <!-- Columna 2: Nombre y rol -->
                        <div>
                            <h6 class="text-base font-normal text-blue-gray-900">
                                {{ proyectos[selected_project]?.nombre }}
                                {{ proyectos[selected_project]?.apellido1 }}
                                {{ proyectos[selected_project]?.apellido2 }}
                            </h6>
                            <h6 class="text-sm text-[rgba(50,110,118,1)]">
                                {{this.languageService.getTranslation(proyectos[selected_project].ref_cadena_titulacion)}}
                            </h6>
                        </div>
                        <button (click)="this.navigate_to_project()" type="button" class="text-white
                        bg-[rgb(50,110,118)] hover:bg-[rgb(50,110,118,.8)]
                        focus:ring-4 focus:ring-blue-300
                        font-medium rounded-md
                        text-sm
                        px-5 py-2.5 me-2 mb-2
                        ml-auto
                        ">
                        {{this.languageService.getTranslation(8)}}
                    </button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Imagen proyecto -->
    <div class="h-[24rem] rounded-lg w-auto shrink-0 flex flex-col">


        <img loading="lazy" width="768" height="768" decoding="async" data-nimg="1"
            class="h-full rounded-lg w-full object-cover" style="color: transparent;"
            src="{{proyectos[selected_project].imagenes[0].url}}">

        <!-- Botonera -->
        <div class="flex items-center gap-1 h-12 mt-6 w-auto">
            @if (proyectos.length > 0) {
            @for (proyecto of proyectos; track proyecto.id_proyecto; let i = $index) {

            <img src={{proyecto.imagenes[0].url}}
                class="inline-block relative object-cover object-center w-12 h-12 rounded-md cursor-pointer opacity-100 transition-all duration-300"
                (click)="update_selected_project(i)" [class.ring-2]="selected_project === i"
                [class.ring-[#3D5D75]]="selected_project === i" [class.opacity-[0.85]]="selected_project === i"
                [class.hover:scale-105]="selected_project === i" [class.hover:shadow-2xl]="selected_project === i"
                [class.hover:ring-4]="selected_project === i">


            <div class="w-[1px] h-[36px] bg-blue-gray-100"></div>
            }
            } @else {
            console.log("Error no data")
            }
        </div>
    </div>
</div>
